<launch>

<node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen" args="scan:=/sensor_msgs/LaserScan _base_frame:=lidar_link">


        <param name="xmin" value="-10.0"/>
        <param name="ymin" value="-30.0"/>
        <param name="xmax" value="50.0"/>
        <param name="ymax" value="30.0"/>
        <param name="delta" value="0.025"/> 
        <param name="map_update_interval" value="2.0"/> 
        <param name="linearUpdate" value="0.3"/>

<!--
      these were commented oot
        <param name="maxUrange" value="59.0"/>
        <param name="maxRange" value="63.0"/>
        <param name="angularUpdate" value="0.15"/>
        <param name="minimumScore" value="50"/>
        <param name="particles" value="50"/>
    -->    

</node>

</launch>
