<launch>

  <include file="$(find babs_nav)/launch/sim_babs_configuration.launch" />

  
  <!--<include file="$(find babs_nav)/launch/hector_mapping.launch" />-->
  
  <include file="$(find babs_nav)/launch/gmapping.launch" />

  <include file="$(find babs_nav)/launch/move_base.launch" />
  <node name="navigation_goals" pkg="babs_nav" type="navigation_goals" />

</launch>
