<launch>


  <!-- Convert an xacro and put on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find sentry_urdf)/urdf/sentry.xacro'" />

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

<node pkg="tf" type="static_transform_publisher" name="base_laser1_broadcaster" args="0.5 0 0.4 0 0 0 base_link base_laser1_link 100" />






 <!--
<node name="lidar" pkg="mapping_and_control" type="lidar" />

<node name="lin_steering" pkg="mapping_and_control" type="lin_steering" />
  
<node name="path_client" pkg="mapping_and_control" type="path_client" /> -->


</launch>
